body{

font-family: 'Trebuchet MS',verdana;

}

table{
 width : 100%;
 height : auto%;
}

#left{
	position:fixed;
	height:97%;
	width:10%;
	background-color:#d7d7d8;
	transition: width 1s;
	
}


#right{
	
	
	width:85%;
	background-color:"#d2d8c7";
	padding-right:5%;
}

/* menu bar style*/
ul{
	position:relative;
	top:200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
   
}
li{
	background-color:white;
	margin-bottom:25px;
	
}
li a {
	font-weight:bold;
    display: block;
    color:#004a77;
    padding: 8px 16px;
    text-decoration: none;
	transition:  1s;
}
li a:hover {
    background-color: #00adee;
    color: white;
	text-align:center;
	text-align:center;
	width:90%;
	margin-left:20%;
}
/* product page pictures styling*/

.picture{
	height:100%;
	width:90%;
}



